#div_general_entete_B{
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:2px;
    height: 60px;
    align-items: center;
    margin-bottom: 10px;
/* background-color: black; */
   
}
.logoB{
    height: 60px;
    width: 100px;
}
.lien_accueilB {
    color:white;
    text-decoration: none;
}
.lien_evenementielB{
    color:white;
    text-decoration: none;
}
.lien_adminB{
    color:red;
    text-decoration: none;
}
a{
    color: white;
}
