#div-general-admin{
    border-radius: 20px;
    display: block;
    flex-wrap: wrap;
    margin: 150px;
    background-color: rgb(114, 112, 117);
}
.inputadmin{
    width:500px;
    height: 50px;
    border-radius: 8px;
}
.label-input-admin{
    height:100px ;
    margin-left: 150px;
    flex-wrap: wrap;
}
.labeladmin{
    font-size: 30px;
    color:white;
}
.clas{
    margin-right: -150px;
    margin-left: 400px;
}
.icons8_admin{
    height: 50px;
    background-color: white;
}
.alien{
    color: rgb(28, 28, 128);
    text-decoration-line: none;
}

.admine{
    color:red;
}
.labelsubmitadmin{
    color:black;
    border-radius: 8px;
}
.formB{
    background-color: rgb(192, 190, 194);
    border-radius: 20px;
    margin: 150px;
}